<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation Page</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    nav {
      background-color: #444;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      font-weight: bold;
    }

    nav a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    <h1>CodeForYouSelf</h1>
  </header>

  <nav>
 

   <a href="<%= '/authentication/login'%>">Sign Out</a>
   <a href="<%= edit_user_path(@user)%>">Edit Profile</a>
   <a href="<%= user_path(@user) %>">View Profile</a>
  </nav>
</body>
</html>
 